<h1>Subscribers list</h1>
<p><a href="/">Go back to homepage</a></p>
<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Interest(s)</th>
  </tr>
  <% @contacts.each do |c| %>
    <% if @subs.exists?(subscriber_id: c.id) %>
      <tr>
        <td><%= c.name %></td>
        <td><%= c.phone %></td>
        <td><%= c.email %></td>
        <td><%= display_interests @contact_interests, @interests, c%></td>
      </tr>
    <% end %>
  <% end %>
</table>
