<h1>Pie chart</h1>
<p><a href="/">Go back to homepage</a></p>
<h2>Number of people by interests</h2>
<div id="tester" style="width:600px;height:250px;"></div>
<script>
  var data = [{
    values: [
      <% @interests.each do |i| %>
        <% @nb = 0 %>
      <% @contact_interests.each do |c_i| %>
        <% if c_i.interest_id == i.id %>
        <% @nb += 1 %>
    <% end %>
    <% end %>
      <%= @nb %>, 
    <% end %>
    ],
    labels: [
      <% @interests.each do |i| %>
        '<%= i.name %>', 
    <% end %> 
    ],
    type: 'pie'
  }];

  var layout = {
    height: 500,
    width: 600
  };

  Plotly.newPlot('tester', data, layout);
</script>
